.marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 2rem 0;
  transform: rotate(-2deg);
  background: #ffffff;
  box-shadow: var(--shadow-subtle-2), 0 -1px 0 var(--color-stone-surface);
}

.content {
  display: inline-flex;
  gap: 2rem;
  padding: 0 1rem;
  animation: marquee 30s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

.card {
  display: inline-flex;
  flex-direction: column;
  background: #ffffff;
  padding: 1.5rem;
  border-radius: var(--radius-cards);
  min-width: 300px;
  box-shadow: var(--shadow-subtle);
  white-space: normal;
}

.stars {
  display: flex;
  color: var(--color-sunburst-yellow);
  margin-bottom: 0.5rem;
}

.text {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  line-height: 1.47;
  font-style: italic;
  color: var(--color-graphite);
}

.author {
  font: var(--font-label-md);
  margin-top: 1rem;
  color: var(--color-ash);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
